<!doctype html>
<html>
<head>
  <link href = "/styles.css" rel = "stylesheet" type = "text/css">
  <link href = "/bower_components/bootstrap/dist/css/bootstrap.css" rel = "stylesheet" type = "text/css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src = "/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8PTXvqrJ_Npjb-w2WQrnRoTafrQitXjU&sensor=true"></script>

  <script>
    function initialize_gmaps() {
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      var mapOptions = {
          center: myLatlng,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map_canvas_obj = document.getElementById("map-canvas");
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });
      marker.setMap(map);
    }
    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
    $(document).ready(function(){
      initialize_gmaps();

      $(".getInfo").click(function(){
        $(this).toggleClass("glyphicon-chevron-right");
        $(this).toggleClass("glyphicon-chevron-down");
        if(this.dataset.toggled == "off"){
          this.dataset.toggled = "on";
          $(this).siblings(".content").css("display","block");
          $(this).siblings("#addDay").css("display","block");
        }else{
         this.dataset.toggled = "off";
          $(this).siblings(".content").css("display","none");
          $(this).siblings("#addDay").css("display","none");
        }
      });

     $("#addToDay").click(function(){
       var name = this.offsetParent.firstElementChild.innerText.slice(1).split(":")[1].slice(1);
       var type = this.offsetParent.firstElementChild.innerText.slice(1).split(":")[0]
       var modalBody = '<div class = "list-group content" data-name = ' + name + 'data-type = ' + type + '><button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "D1">Day 1</button><button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "D2">Day 2</button><button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "D3">Day 3</button><button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "D4">Day 4</button><button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "D5">Day 5</button></div>';
       $('.modal-body').html(modalBody);
       $('.modal-title').html("<h1>Pick a day</h1>");
       $("#addToDay").hide();
     });
     $("#D1").click(function(){
       console.dir(this);
     });
     $("#D2").click(function(){
       console.dir(this);
     });
     $("#D3").click(function(){
       console.dir(this);
     });
     $("#D4").click(function(){
       console.dir(this);
     });
     $("#D5").click(function(){
       console.dir(this);
     });
     $(".list-group-item").click(function(){
        if(this.id === ""){
          $("#addToDay").show();
          var type = this.dataset.type;
          var title = this.dataset.name;
          var string = type + ": " + title
          var title = "<h2>" + string +  "</h2>"
          $('.modal-title').html(title);
          var newModalBody = "";
          for(var data in this.dataset){
            if(data !== "name" && data !== "type"){
              upperCase = capitalizeFirstLetter(data);
              newModalBody = newModalBody + "<div id = specifics ><h3>"+  upperCase + " : " + this.dataset[data]+"</h3></div>"
  			     }
		      }
		      $('.modal-body').html(newModalBody);
          $("#addToDay").data("type",type);
		      $('#myModal').modal('show');
        }
        else{
          $("#addToDay").hide();
          var title = this.id
          console.log(typeof this.dataset.activites);
          title = "<h1>" + title + "</h1>"
          $('.modal-title').html(title);
          console.log(this.dataset.activites);
          var activites = this.dataset.activites.split(" ")
          var restaurants = this.dataset.restaurants.split(" ");
          var hotels = this.dataset.hotels.split(" ");
          var modalBoday = "";
          modalBody = '<h2>Activites</h2><div class = "list-group content">';
          for(var i = 0; i < activites.length; i++){
            modalBody = modalBody + '<li class="list-group-item">'+activites[i]+'</li>';
          }
          modalBody= modalBody+"</div>"
          modalBody = modalBody + '<h2>Restaurants</h2><div class = "list-group content">';
          for(var i = 0; i < restaurants.length; i++){
            modalBody = modalBody + '<li class="list-group-item">'+restaurants[i]+'</li>';
          }
          modalBody= modalBody+"</div>"
          modalBody = modalBody + '<h2>Hotels</h2><div class = "list-group content">';
          for(var i = 0; i < hotels.length; i++){
            modalBody = modalBody + '<li class="list-group-item">'+hotels[i]+'</li>';
          }
          modalBody= modalBody+"</div>"
          $('.modal-body').html(modalBody);
          $('#myModal').modal('show');

        }
      });
    });
  </script>
</head>

<body>

  <div class="modal fade" id = "myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" >
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id = "modalHeader">Modal title</h4>
            </div>
            <div class="modal-body" id = "modalBody">
            </div>
            <div class="modal-footer" id = "modalFooter">
              <button type="button" data-type = "" class="btn btn-primary" id = "addToDay">Add to Trip</button>
            </div>
          </div>
        </div>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>

    </div>
  </nav>
  <!-- <ol class="breadcrumb">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a</li>
  </ol> -->

    <div id = "tabs" class = "col-xs-12 col-sm-4 col-md-4 col-lg-4">

      <div class = " panel panel-default days">
        <span class = "label glyphicon glyphicon-eye-open">&nbsp;Days</span>
        <span class = "getInfo glyphicon glyphicon-chevron-right" data-toggled = "off"></span>
        <div class = "list-group content">
            <button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "Day 1">Day 1</button>
            <button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "Day 2">Day 2</button>
            <button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "Day 3">Day 3</button>
            <button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "Day 4">Day 4</button>
            <button type="button" data-activites = "" data-restaurants = "" data-hotels = "" class ="list-group-item" id = "Day 5">Day 5</button>
        </div>
        <button type="button" id = "addDay" class ="btn-primary">Add another day</button>
      </div>

      <div class = " panel panel-default activities">
        <span class = "label glyphicon glyphicon-tree-deciduous">&nbsp;Activities</span>
        <span class = "getInfo glyphicon glyphicon-chevron-right" data-toggled = "off"></span>
        <div class = "list-group content">
          {% for activity in activities %}
            <button type="button" data-type = "Activity" data-name = "{{activity.name}}" data-age = "{{activity.age_range}}" class ="list-group-item">{{activity.name}}</button>
          {% endfor %}
        </div>
      </div>

      <div class = "panel panel-default restaurants">
        <span class = "label glyphicon glyphicon-cutlery">&nbsp;Restaurants</span>
        <span class = "getInfo glyphicon glyphicon-chevron-right" data-toggled = "off"></span>
        <div class = "list-group content">
          {% for restaurant in restaurants %}
            <button type="button" data-type = "Restaurant" data-name = "{{restaurant.name}}"  data-price = "{{restaurant.price}}" data-cuisines = "{{restaurant.cuisines}}" address = "{{restaurant.place.address}}" class ="list-group-item" >{{restaurant.name}}</button>
          {% endfor %}
        </div>
      </div>

       <div class = "panel panel-default hotels">
          <span class = "label glyphicon glyphicon-home">&nbsp;Hotels</span>
          <span class = "getInfo glyphicon glyphicon-chevron-right" data-toggled = "off"></span>
          <div class = "list-group content">
              {% for hotel in hotels %}
                <button type="button" data-type = "Hotel" data-name = "{{hotel.name}}"  data-num_stars = "{{hotel.num_stars}}" data-amenities = "{{hotel.amenities}}" class ="list-group-item">{{hotel.name}}</button>
              {% endfor %}
          </div>
       </div>

    </div>

   <div id = "map-canvas" class = "col-xs-12 col-sm-8 col-md-8 col-lg-8"></div>

</body>
<footer>
</footer>
</html>
