body{
  display:block;
  padding:0px;
  margin: 0px;
  width: 100%;
}

// .no-padding{
//   padding:0px !important;
//
// }
.navbar {
    margin-bottom: 0 !important;
    width:100%;
    z-index: 1;
}


#title {
  color: #444444;
  // padding: .4em;
}

#addDay {
  display: none;
}

#changeMe {
  display:none;
}


#tabs{
  float:left;
  text-align:left;
  width: 20%;
  padding-left: 0;
  z-index: 1;
  display: inline;
  .label{
    padding: .5em;
    font-size: 1.3em;
    font-weight:200;
    color: #444444;

  }
  .getInfo{
    padding-right:.4em;
    padding-top:.5em;
    font-size:.75em;
    float:right;
    color: #444444;

  }
  .content{
    display:none;
    font-size: 1em;
    text-align: left;
  }
  li {
    list-style-type: none;
    color: #444444;
  }
}
#map-canvas{
  width:100vw;
  height:100vh;
  position: absolute;
  top: 0;
  z-index: 0;

}
